 {% extends 'base.html' %}
 
 {% block content %}

 {% if user.is_authenticated %}

 <h1> Hello world </hq>
{% else %}

<div class="col-md-6 offset-md-3">
    <h1 class = "text-center"> Login! </h1>
</br>
<form method = "Post" action =" {% url "home" %}>

    {% csrf_token %}
        <div class="mb-3">
          <input type="email" class="form-control" name= "username" placeholder = "Write your first name here">
          </div>
        <div class="mb-3">
          <input type="password" class="form-control" name ="password" placeholder = "Password">
        </div>

        <button type="submit" class="btn btn-secondary justify-content-center">Login</button>
      </form>
{% endif %}
 {% endblock %} 